
<tbody>
<tr>
 
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= link_to "Show", friend_path(friend) %></td>
</tr>
</tbody>